<h1>Deep Health</h1>
<h2>Diabetic Retinopathy Predictor</h2>
<p>The predictor rated the presence of diabetic retinopathy in each image on a scale of 0 to 4, according to the following scale:
</p>

<ul>
  <li>0 - No DR</li>
  <li>1 - Mild</li>
  <li>2 - Moderate</li>
  <li>3 - Severe</li>
  <li>4 - Proliferative DR</li>
</ul>

<label for="singleFile">Upload image</label>
<br>
<input id="singleFile" type="file" accept='image/*' [fileUploadInputFor]= "fileUploadQueue"/>
<br>
<mat-file-upload-queue #fileUploadQueue
    [fileAlias]="'file'"
    [httpUrl]="httpUrl">

    <mat-file-upload [file]="file" [id]="i" *ngFor="let file of fileUploadQueue.files; let i = index" (onUpload)="onUpload($event)" (removeEvent)="removeEvent($event)"></mat-file-upload>
</mat-file-upload-queue>

<br>
<br>

<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div *ngIf="imgURL" class="footer-image">
          <b>Image:</b> {{image.name}}
        </div>

        <img [src]="imgURL" height="85%" *ngIf="imgURL">
    </mat-grid-tile>
    <mat-grid-tile>
        <canvas baseChart
        [datasets]="barChartData"
        [labels]="barChartLabels"
        [options]="barChartOptions"
        [legend]="barChartLegend"
        [chartType]="barChartType">
    </canvas>
    </mat-grid-tile>
</mat-grid-list>

<div [class.loading-indicator]="showSpinner==true">
    <mat-progress-spinner mode="indeterminate" color="accent" *ngIf="showSpinner"></mat-progress-spinner>
</div>
